<div class="flex justify-center h-screen items-center overflow-hidden">

    <div class="container">
        <div class="cover" [ngClass]="{'route-active':isRegister}">

            <div class="front">
                <img src="https://www.shutterstock.com/image-photo/notepad-your-recipe-herbs-spices-260nw-370298699.jpg"
                    alt="" />

                <div class="text">
                    <span class="text-1">
                        Unlock a world of flavor!
                    </span>
                    <span>
                        Sign in or log in now to access your personalized recipe collection.
                    </span>

                </div>

            </div>
            <div class="back">
                <img src="https://www.shutterstock.com/image-photo/spices-open-book-recipes-on-260nw-462673672.jpg"
                alt="">

            </div>
        </div>

        <div class="from h-full">

        <div class="form-content h-full">

            <div class="login-fomr">

<h1 class="text-lg fond-bold text-center pb-8">Signup</h1>
<!-- <form (ngSubmit)="onSubmit()" class="w-[27rem] p-6 rounded-lg shadow-md">

    <div class="mb-4">

        <mat-form-field class="w-full">
            <mat-label class="text-gray-200">Title</mat-label>
            <input matInput placeholder="title" value="" name="title" [(ngModel)]="recipeItem.title"
                class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
        </mat-form-field>

    </div>

    <div class="mb-4">

        <mat-form-field class="w-full">
            <mat-label class="text-gray-200">Description</mat-label>
            <input matInput placeholder="description" value="" name="description" [(ngModel)]="recipeItem.description"
                class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
        </mat-form-field>

    </div>

    <div class="mb-4">


        <mat-radio-group name="foodType" [(ngModel)]="recipeItem.foodType" aria-label="Select an option">
            <mat-radio-button value="veg">Vegetarian</mat-radio-button>
            <mat-radio-button value="non_veg">Non Vegetarian</mat-radio-button>
        </mat-radio-group>


    </div>

    <div class="mb-4">

        <mat-form-field class="w-full">
            <mat-label class="text-gray-200">Image</mat-label>
            <input matInput placeholder="image url" value="" name="image" [(ngModel)]="recipeItem.image"
                class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
        </mat-form-field>

    </div>




    <div>
        <button mat-raised-button color="primary" type="submit">
            Create
        </button>
    </div>
</form> -->
            </div>

        </div>
        <div>

        </div>


    </div>
 
</div>